extends ../../layouts/default.pug

block main
    .container.mt-5
        .card.shadow-sm
            .card-header.bg-primary.text-white.text-center
            h3 Chi tiết danh mục sản phẩm
        .card-body
            if data.title
                h1.text-primary.text-center.mb-4 #{data.title}

            .row.g-4.align-items-start
                .col-md-6.text-center
                    if data.thumbnail
                        img(
                            src=data.thumbnail
                            alt="Product Image"
                            class="img-fluid rounded shadow"
                            style="max-width: 100%; height: auto;"
                        )
                    else
                        img(
                            src="/images/default-thumbnail.jpg"
                            alt="Default Image"
                            class="img-fluid rounded shadow"
                            style="max-width: 100%; height: auto;"
                        )

                .col-md-6
                    if data.description
                        p.mb-3
                        strong Mô tả:
                        br
                        span.text-muted !{data.description}

                    if data.status
                        p.mb-3
                        strong Trạng thái:
                        br
                    if data.status === "active"
                        span.badge.bg-success.px-3.py-2 Hoạt động
                    else
                        span.badge.bg-danger.px-3.py-2 Dừng hoạt động

                    if data.position
                        p.mb-3
                        strong Vị trí:
                        br
                        span.text-muted #{data.position}

        .text-center.mt-4
            a.btn.btn-warning.btn-sm(
                href=`${prefixAdmin}/products-category/edit/${data.id}`
            ) Sửa danh mục sản phẩm
            a.btn.btn-secondary.btn-sm.ms-2(
                href=`${prefixAdmin}/products-category`
            ) Quay lại danh mục
